registry=https://registry.npmmirror.com/
strict-peer-dependencies=false
# public-hoist-pattern[]=*phantomjs-prebuilt*
# registry=https://registry.npmjs.com/
# shared-workspace-lockfile=false
# shamefully-hoist=true
