

.main {
  width: 100%;
  height: 100%;
  display: flex;

}

.leftSide {
  width: 200px;
  height:100vh;
  background:#000;
  color:#fff;
}
.menuItem{
  padding:10px;
}
.rightSide {
  flex: 1;
  padding:20px;
}