@keyframes tick {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


.tick {
  animation: tick 0.2s infinite;
}


.main {
  width: 100%;
  height: 100%;
  display: flex;

}

.leftSide {
  width: 200px;
  height:100vh;
  background:#000;
  color:#fff;
}
.menuItem{
  padding:10px;
}
.rightSide {
  flex: 1;
  padding:20px;
}