section#sidebar {
  background: transparent;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); }
  section#sidebar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: 0;
    left: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.5); }
  section#sidebar header {
    z-index: 1;
    color: white;
    position: relative;
    margin: 0;
    background: transparent; }
  section#sidebar #bookmarkBox {
    z-index: 1;
    color: white;
    position: relative; }
    section#sidebar #bookmarkBox ul {
      color: white; }
      section#sidebar #bookmarkBox ul li {
        overflow: hidden;
        border-radius: 5px;
        color: white; }

.blurbkg {
  position: relative;
  background: transparent; }
  .blurbkg:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: 0;
    left: 0;
    -webkit-backdrop-filter: brightness(150%) blur(30px);
    backdrop-filter: brightness(150%) blur(30px);
    /*background: rgba(255, 255, 255, 0.5);*/ }
