section#sidebar {
  background: transparent;
  overflow: hidden;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  section#sidebar:before {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: 0;
    left: 0;
    background-color: #000;
    background-image: url("http://data.favori.cc/car.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px); }
  section#sidebar:after {
    content: '';
    position: absolute;
    width: 100%;
    height: calc(100% + 50px);
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.7); }
  section#sidebar header {
    z-index: 1;
    color: white;
    position: relative;
    margin: 0;
    background: transparent; }
  section#sidebar #bookmarkBox {
    z-index: 1;
    color: white;
    position: relative; }
    section#sidebar #bookmarkBox ul {
      color: white; }
      section#sidebar #bookmarkBox ul li {
        overflow: hidden;
        border-radius: 5px;
        color: white; }
