@charset "UTF-8";
* {
  box-sizing: border-box;
  font-family: 'STXihei','PingHei', 'PingFang SC', 'Helvetica Neue', 'Helvetica', 'STHeitiSC-Light', 'Arial', sans-serif; }

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  font-size: 12px;
  -webkit-user-select: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  width: 100%;
  position: relative;
  background-color: #eaeef1; }

/*  //蓝色
//基础色
$base-color:#28adda;
$base-color2:#2f7cf2;
$base-color3:#385fc5;
//水平渐变背景色
$gradient-color:linear-gradient(-90deg, rgba(47,229,192,1)  0%, rgba(30,94,255,1) 100%);
$gradient-color2:linear-gradient(-90deg, rgba(87,209,231,1) 0%, rgba(0,24,255,1) 100%);
$gradient-color3:linear-gradient(-90deg, rgba(112,176,255,1)  0%, rgba(0,13,140,1) 100%);
//45度渐变背景色
$gradient-color-45:linear-gradient(-45deg, rgba(47,229,192,1)  0%, rgba(30,94,255,1) 100%);
$gradient-color2-45:linear-gradient(-45deg, rgba(87,209,231,1) 0%, rgba(0,24,255,1) 100%);
$gradient-color3-45:linear-gradient(-45deg, rgba(112,176,255,1)  0%, rgba(0,13,140,1) 100%);

*/
/*  //绿色
//基础色
$base-color:#62f033;
$base-color2:#24d258;
$base-color3:#00dca2;
//水平渐变背景色
$gradient-color:linear-gradient(-90deg, rgba(198,255,76,1)  0%, rgba(0,226,27,1) 100%);
$gradient-color2:linear-gradient(-90deg, rgba(255,139,45,1)  0%, rgba(255,59,57,1) 100%);
$gradient-color3:linear-gradient(-90deg, rgba(255,139,45,1)  0%, rgba(255,59,57,1) 100%);
//45度渐变背景色
$gradient-color-45:linear-gradient(-45deg, rgba(198,255,76,1)  0%, rgba(0,226,27,1) 100%);
$gradient-color2-45:linear-gradient(-45deg, rgba(255,139,45,1)  0%, rgba(255,59,57,1) 100%);
$gradient-color3-45:linear-gradient(-45deg, rgba(255,139,45,1)  0%, rgba(255,59,57,1) 100%);
 */
.text-gradient {
  display: inline-block;
  color: #1e5eff;
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.box-gray {
  background: #bbb; }

::-webkit-scrollbar {
  width: 0px;
  height: 0px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 0px;
  border-radius: 0px; }

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.box-gradient {
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%); }

.shadow {
  background: #fff;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 10px; }

.text-gradient {
  display: inline-block;
  color: #ff3b39;
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.gray696969 {
  color: #696969; }

.rotate {
  -webkit-transform: rotate(720deg);
  -webkit-transition: all 1s; }

.darken50 {
  background: #d9d9d9;
  width: 200px;
  height: 200px; }

.LoadingWindow {
  width: 100%;
  height: 100%;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
  /* position:absolute; left:50%; top:50%; margin-left:-175px; margin-top:-160px; */
  z-index: 999;
  /* box-shadow:0 0 30px rgba(255,102,50,0.3) */ }

.detail {
  width: 340px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  bottom: 80px; }

.detail p {
  float: left;
  margin-left: 30px;
  color: #bbb;
  font-size: 12px; }

.completeText {
  width: 340px;
  position: absolute;
  left: 50%;
  margin-left: -170px;
  bottom: 80px;
  display: none; }

.completeText .success {
  font-size: 24px;
  color: #ff6333;
  text-align: center;
  margin: 20px; }

.completeText .msg {
  color: #bbb;
  font-size: 12px;
  text-align: center; }

.progressbar {
  width: 300px;
  height: 8px;
  background: #edebe9;
  border-radius: 4px;
  position: absolute;
  bottom: 50px;
  left: 50%;
  margin-left: -150px; }

.progressbar .progress {
  height: 8px;
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px; }

.loading {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  border: solid 1px #fafafa;
  -webkit-animation-name: beating;
  animation-name: beating;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  cursor: pointer; }

.complete {
  background: linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -webkit- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -moz- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -ms- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  background: -o- linear-gradient(-45deg, #ff8b2d 0%, #ff3b39 100%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 40%;
  left: 50%;
  display: none;
  position: relative;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%); }

.complete i {
  display: block;
  width: 50px;
  height: 40px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -20px; }

.loading:before {
  content: '';
  width: 75%;
  height: 75%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) scale(0.3);
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  border: solid 1px #f0f0f0;
  z-index: 2;
  background-color: #FFF;
  opacity: 1;
  -webkit-animation-name: scale-inner;
  animation-name: scale-inner;
  -webkit-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.loading:after {
  content: '';
  width: 90%;
  height: 90%;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
  transform: translateX(-50%) translateY(-50%) rotate(90deg);
  z-index: 1;
  /*OTHER GRADIENTS*/
  /*generate your own in: http://elrumordelaluz.github.io/draGGradients/#*/
  -webkit-animation-name: gradient-move;
  animation-name: gradient-move;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3) inset;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.loading.grad-1:after {
  background: -webkit-radial-gradient(1.98% 22.02%, circle, #ff6333, transparent 100%), -webkit-radial-gradient(98.02% 77.02%, circle, #ffd733, transparent 100%), -webkit-radial-gradient(50% 50%, circle, #ffffff, #ffffff 100%);
  background: radial-gradient(circle at 1.98% 22.02%, #ff6333, transparent 100%), radial-gradient(circle at 98.02% 77.02%, #ff6333, transparent 100%), radial-gradient(circle at 50% 50%, #ffffff, #ffffff 100%); }

.loading .percent {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 50%;
  line-height: 0px;
  z-index: 3;
  font-size: .9em;
  color: black;
  font-weight: 200;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  opacity: .3; }

@-webkit-keyframes beating {
  0% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); } }
@keyframes beating {
  0% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); }
  50% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.1); }
  100% {
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.3); } }
@-webkit-keyframes gradient-move {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }
@keyframes gradient-move {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(0deg);
    transform: translateX(-50%) translateY(-50%) rotate(0deg); }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(90deg);
    transform: translateX(-50%) translateY(-50%) rotate(90deg); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(360deg);
    transform: translateX(-50%) translateY(-50%) rotate(360deg); } }
@-webkit-keyframes up-and-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes up-and-down {
  0% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes scale-inner {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.95);
    transform: translateX(-50%) translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.95);
    transform: translateX(-50%) translateY(-50%) scale(0.95); } }
@keyframes scale-inner {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.95);
    transform: translateX(-50%) translateY(-50%) scale(0.95); }
  50% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
    transform: translateX(-50%) translateY(-50%) scale(1); }
  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.95);
    transform: translateX(-50%) translateY(-50%) scale(0.95); } }

/*# sourceMappingURL=loadingwindow.css.map */
