html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    height: 100vh;
}

svg {
    box-shadow: 0 0 10px #999;
    border-radius: 5px;
}

button {
    position: fixed;
    right: 10px;
    top: 10px;
}