@font-face {
   font-family: SourceCode;
   src: url('../fonts/SourceCodePro.ttf');
 }

body {
    overflow: hidden;
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#canvas {
    width: 100%;
    height: 100%;
    z-index: -1;
}

#canvas-HUD {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events: none;
    background: none !important;
    z-index: 1;
}

.controls-map {
	position: absolute;
	top: 6%;
	pointer-events: none;
	background: none !important;
	z-index: 2;
}

#navigation-controls {
	left: 4%;
	height: 165px;
	width: 170px;
}

#other-controls {
	left: 17%;
	height: 90px;
	width: 220px;
}

.control {
	font-family: SourceCode;
	display: block;
	padding-left: 12px;
}

::-webkit-scrollbar {
    display: none;
}
